.download-the-app {
  text-decoration: none;
  transition: 250ms;
  color: #00bfa6;
}

.download-the-app:hover {
  color: #00bfa6;
}

#p {
  line-height: 25px;
}

#h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
